@media (max-device-width: 500px) {

    .textarea {
        width: 90%;
        height: 15vh
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form h6 {
        margin: 5px;
    }

    .containerCheckbox {
        background-color: transparent;
        display: flex;
        width: 100%;
        align-items: center;
        height: 11vh;
        margin-left: 2%;

    }

    .containerCheckbox input {
        height: 30px
    }

    .contactButton{
        width: 50%;
        height: 5vh;
        margin-top: 1%;
        margin-bottom: 3%;
        background-color: transparent;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px white;
        border: 1px solid black;
    }
}


@media (min-device-width: 500px) {

    .textarea {
        width: 500px;
        height: 25vh
    }

    .containerContact {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        background-color: white;
        width: 50%;

    }

    form h6 {
        margin: 5px;
    }

    .containerCheckbox {
        background-color: transparent;
        display: flex;
        width: 43%;
        align-items: center;
        height: 11vh;
        margin-right: 2.7%;

    }

    .containerCheckbox input {
        height: 30px
    }

    .contactButton{
        width: 10%;
        height: 5vh;
        margin-top: 1%;
        margin-bottom: 3%;
        background-color: transparent;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px white;
        border: 1px solid black;
    }

}